{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Saveurs Partagées - Liste des Recettes">
    <meta name="keywords" content="Recettes, Cuisine, Saveurs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des Recettes - Saveurs Partagées</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">/
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">/
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">/
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">/
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">/
</head>

<body>
    
    <div class="container">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo2.png' %}" alt=""></a>
        </div>

    <header>
        <h1 class="text-center my-4">Liste des Recettes</h1>
    </header>
    <ul>
        {% for recette in recettes %}
            <li>{{ recette }}</li>
        {% endfor %}
    </ul>

    <!-- Plugins JS -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>

</html>
